@import './config.less';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #626466;
  background-color: #F5F6FC;
  font-family: 'PingFang SC', 'Microsoft YaHei', Arial, Helvetica, sans-serif !important;
  font-size: 12pt;
  min-width: 960pt;
  overflow-x: scroll;
}


a {
  text-decoration: none !important;
  color: @text-color;

  &:hover {
    color: @text-color;
  }
}


.fl {
  float: left;
}

.fr {
  float: right;
}

.panel {
  background-color: #fff;
  margin: 16pt;
  border-radius: 8pt;
}

#app {
  height: 100%;
}

pre {
  display: inline;
  color: #a1a5a9;
  background-color: #2e3238;
  word-break: break-all;
  word-wrap: break-word;
  border: none;
  border-radius: 4px;
  line-height: 16px;
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif !important;
}

.clearfix {
  display: block;
  clear: both;
  content: "";
}

.ellipsis {
  -o-text-overflow: ellipsis;
  word-break: normal;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.noselect {
  user-select: none;
}